/* Sidebar container */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
}

    /* Sidebar links */
    .sidebar a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        transition: 0.3s;
    }

        /* Change link color on hover */
        .sidebar a:hover {
            background-color: #555;
        }

/* Page content */
.page-content {
    margin-left: 250px; /* Adjust this to match sidebar width */
    padding: 15px;
}


/*Tools Layout*/


.flex-container-tools {
    display:flex;
    justify-content:center;
    align-items:center;
    height:50vh;
    margin:0;
}

.vods-box p, other-box p {
    text-align:center;
}

.vods-box {
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.other-box {
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

/*Library Video Player*/

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed */
}

    /* Optional styling for the video iframe */
    .video-container iframe {
        max-width: 100%;
        max-height: 100%;
    }


/*Library Button*/


.library-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}


.library-button {
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}
