/* Sidebar container */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
}

    /* Sidebar links */
    .sidebar a {
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        font-size: 18px;
        color: #fff;
        transition: 0.3s;
    }

        /* Change link color on hover */
        .sidebar a:hover {
            background-color: #555;
        }

/* Page content */
.page-content {
    margin-left: 250px; /* Adjust this to match sidebar width */
    padding: 15px;
}


/*Tools Layout*/


.flex-container-tools {
    display:flex;
    justify-content:center;
    align-items:center;
    height:50vh;
    margin:0;
}

.vods-box p, other-box p {
    text-align:center;
}

.vods-box {
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.other-box {
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}






/*Library and Upload Buttons*/


.library-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}


.library-button {
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;


}

.library-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin: 0;
}


.upload-button {
    width: 200px;
    height: 200px;
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}


/* Library css */


/* Center the entire video container */
.video-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Style the video list */
.video-list {
    list-style: none;
    padding: 0;
}

/* Style each video item */
.video-item {
    text-align: center;
    margin: 10px;
}

/* Style the video title */
.video-title {
    font-weight: bold;
    margin-top: 5px;
}

/* Style the video player */
video {
    max-width: 100%;
    height: auto;
    outline: none;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

