@page
@model team_management_app.Pages.CalenderModel
@{

    Layout = "_UserLayout"; // Specify the name of your new layout
}

<div class="text-center">
    <h1 class="display-4">This is the user CALENDAR page.</h1>
</div>