@page
@model team_management_app.Pages.OwnerDashboardModel
@{
    Layout = "_UserLayout"; // Specify the name of your new layout
}
<div class="text-center">
    <h1 class="display-4">This is the Owner Dashboard.</h1>
</div>

<p>Here I will put a way for the owner to create a team. Adding a descrition, image, name, ect. <br /> They will be locked off from everything else until the form is finsihed. Then they can come back anytime to change anyhting.</p>
<p>Also able to invite players by "some" means...</p>