@page
@model team_management_app.Pages.StatsModel
@{
    Layout = "_UserLayout"; // Specify the name of your new layout
}
<div class="text-center">
    <h1 class="display-4">This is the user Stats page.</h1>
</div>