@page
@model team_management_app.Pages.ToolsModel
@{
    Layout = "_UserLayout"; // Specify the name of your new layout
}

<div class="text-center">
    <h1 class="display-4">This is the user TOOLS page.</h1>
</div>


<!--Tools Buttons-->

<div class="flex-container-tools">

  <div class="vods-box">
        <p><a asp-page="/Vods">VODS</a></p>
  </div>

  <div class="other-box">
      <p>OTHER</p>
  </div>

</div>
