@page
@model team_management_app.Pages.TestingModel
@{
    Layout = "_UserLayout"; // Specify the name of your new layout
}

<div class="text-center">
    <h1 class="display-4">This is a user layout testing page.</h1>
</div>