@page
@model team_management_app.Pages.VodsModel
@{
    Layout = "_UserLayout"; // Specify the name of your new layout
}
<h1>This is the page for providing your account info and getting your roles.</h1>

<h2> If you are an owner click here--></h2>

<h3>If your running solo clicl here--></h3>

<h4>If your here to join an already exhisting team click here--></h4>