@page
@model team_management_app.Pages.VodsModel
@{
    Layout = "_UserLayout"; // Specify the name of your new layout
}

<div class="text-center">
    <h1 class="display-4">This is the VODS page</h1>
    <p>where we will be testing video encoding, playback, etc.</p>
</div>

<div class="library-box">
    <div class="library-button">
        <p><a asp-page="/VodsLibrary">Library</a></p>
    </div>
    <div class="upload-button">
        <p><a asp-page="/Uploads">Uploads</a></p>
    </div>
</div>
