@page
@model team_management_app.Models.VodsLibraryModel
@{
    Layout = "_UserLayout";
}

<div class="text-center">
    <h1 class="display-4">This is the Vods Library page</h1>
    <p>Where we will be testing video encoding, playback, etc.</p>
</div>

<div class="video-container">
    <h1>Video List</h1>
    <ul class="video-list">
        @foreach (var video in Model.Videos)
        {
            <li class="video-item">
                <h2 class="video-title">@video.Name</h2>
                <video controls width="600">
                    <source src="@video.BlobUri" type="video/mp4" />
                </video>
            </li>
        }
    </ul>
</div>
