@page
@model team_management_app.Pages.VodsModel
@{
    Layout = "_UserLayout"; // Specify the name of your new layout
}

<div class="text-center">
    <h1 class="display-4">This is the VODS page</h1> 
    <p>where we will be testing video encoding, playback, ect.</p>
</div>

<div class="container">

    - <iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Rick Astley - Never Gonna Give You Up (Official Music Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

</div>
