@page
@model team_management_app.Models.VodsLibraryModel
@{
    Layout = "_UserLayout";
    
}

<div class="text-center">
    <h1 class="display-4">This is the Vods Library page</h1>
    <p>Where we will be testing video encoding, playback, etc.</p>
</div>

<h1>Video List</h1>
<ul>
    @foreach (var video in Model.Videos)
    {
        <li>
            @video.Name
            <video controls width="600">
                <source src="@video.BlobUri" type="video/mp4" />
            </video>
        </li>
    }
</ul>


