@page
@model team_management_app.Pages.OwnerDashboardModel
@{
    Layout = "_UserLayout"; // Specify the name of your new layout
}


<div class="text-center">
    <h1 class="display-4">Your Team</h1>
</div>

User
User
Im using asp.Net core. I have login functionality along with assigned roles. However my website is going to be a team management site. The first thing I need help with is the button that creates the teams. I need the teamname saved and attached to the user who created it who has the Owner role.

<!-- Button to trigger the upload modal for editing the team info. -->
<div class="text-center">
    <button id="createTeamButton" data-toggle="modal" data-target="#createTeamModal">Creat/Edit Team</button>
</div>


<!-- Pop-up Team Info -->
<div class="modal fade" id="createTeamModal" tabindex="-1" role="dialog" aria-labelledby="createTeamModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTeamModalLabel">Team Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Your form goes here -->
                <form method="post" enctype="multipart/form-data" asp-page-handler="OnPost" asp-route-title="Title">


                    <!--Team Name-->
                    <div class="form-group">
                        <label for="TeamName">Team Name:</label>
                        <input type="text" class="form-control" name="TeamName" id="TeamName">
                    </div>


                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            </div>
        </div>
    </div>
</div>









<!-- All things displayed are not set in stone and subject to change.-->
<!-- Player List -->
<div class="text-center">

    <h5> Here will be the list of players on the team</h5>
    <p>You will be able to see each players username, their role and an option for editing their status on the team.</p>
    <p>For example editng roles, kicking.</p>
    <ul>

        <li>Example</li>
        <li>Example</li>
        <li>Example</li>
        <li>Example</li>
        <li>Example</li>
        <li>Example</li>
        <li>Example</li>
    </ul>

</div>

<!-- Upcomping Events-->
<div class="text-center">
    <h5>Here will be small showcase of the upcoming events the team has.</h5>
    <p>Along with any other news or announcements that the owner wishes to display.</p>

</div>
<!--Socials-->
<div class="text-center">
    <h5>Here will be the socials they wish to showcase.</h5>
    <p>Along with a widget for their personal discord that only authorized users have access to.</p>
   
</div>


<!--Discord Widget-->
<div class="text-center">
    @Html.Raw("<widgetbot server=\"501968358074220546\" channel=\"684143090231017482\" width=\"1000\" height=\"400\"></widgetbot>")
</div>
<div>
    @Html.Raw("<script src=\"https://cdn.jsdelivr.net/npm/@widgetbot/html-embed\"></script>")
</div>


<!--For now the js will go here, but it will be moved to a better place later-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"></script>

<script>
    <script>
        $('#createTeamModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var username = button.data('username');
            $('#CreatedBy').val(username);
        });
</script>
