<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - user-layout</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/userlayout.css" asp-append-version="true" />
    <link href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet">
    <link href="https://vjs.zencdn.net/8.3.0/video-js.css" rel="stylesheet" />
    <script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <a class="nav-item">
                <partial name="_LoginPartial" />
            </a>
        </div>
    </nav>

    <div class="sidebar">
        <!-- Left-side navigation menu -->
        <ul>
            <li><a asp-page="/Index">Home</a></li>
            <li><a asp-page="/UserLayout">Hub</a></li>
            <li><a href="/Tools">Tools</a></li>
            <li><a href="/Tournaments">Tournaments</a></li>
            <li><a href="/Team">Team</a></li>
            <li><a href="/Stats">Stats</a></li>
        </ul>
    </div>
    
    <div class="content">
        <!-- Page content goes here -->
        @RenderBody()
    </div>

    <footer>
        <!-- Footer content -->
      
    </footer>

</body>
</html>
